.centerDiv {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid black;
  width: max-content;
}
.input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
}

.uploadBtn {
  width: 90%;
  height: 48px;
  display: block;
  border-color: transparent;
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
}
.uploadBtn:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}
